.area {
    background-color: #4056e7;
    display: inline-block;
    box-sizing: border-box;
    width: 120%;
    border-radius: 26px;
    opacity: 1;
    position: relative;
    cursor: pointer;
}
.area .name {
    text-align: center;
    font-size: 13px;
    padding: 3px;
    color: yellow;
}
.area .cnt {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    color: white;
}
.area span {
    display: block;
}
@media (max-width: 1199px) {
    #container {
        overflow: hidden;
        height: 100vh;
        position: relative;
    }
    #mapWrapper {
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    #rvWrapper {
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    #container.view_roadview #mapWrapper {
        height: 50%;
    }
}
@media (min-width: 1200px) {
    #container {
        overflow: hidden;
        height: 100vh;
        position: relative;
    }
    #mapWrapper {
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    #rvWrapper {
        width: 50%;
        height: 100vh;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    #container.view_roadview #mapWrapper {
        width: 50%;
    }
}
#resetControl {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 5px;
    right: 3px;
    width: 42px;
    height: 42px;
    background: url("//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png") no-repeat -150px -450px;
}
.radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
}
.custom_zoomcontrol_plus {
    position: absolute;
    top: 50px;
    right: 7px;
    width: 36px;
    height: 40px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
}
.custom_zoomcontrol_plus span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.custom_zoomcontrol_plus span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}
.custom_zoomcontrol_minus {
    position: absolute;
    top: 100px;
    right: 7px;
    width: 36px;
    height: 40px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
}
.custom_zoomcontrol_minus span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.custom_zoomcontrol_minus span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}
/* .custom_zoomcontrol span:first-child {
    border-bottom: 1px solid #bfbfbf;
} */
.custom_zoomcontrol_plus:active {
    background-color: rgb(102, 102, 102);
}
.custom_zoomcontrol_minus:active {
    background-color: rgb(102, 102, 102);
}
#roadviewControl {
    position: absolute;
    top: 150px;
    right: 5px;
    width: 42px;
    height: 42px;
    z-index: 1;
    cursor: pointer;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png") 0 -450px no-repeat;
}
#roadviewControl.active {
    background-position: 0 -350px;
}
#close {
    position: absolute;
    padding: 4px;
    top: 5px;
    left: 5px;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px #888;
}
#close .img {
    display: block;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png") no-repeat;
    width: 14px;
    height: 14px;
}
