.area {    
    border-radius: 10px;
    border: 1px solid #888;
    cursor: pointer;
    background: #3a4aaf;
}
.area .text {
    text-align: center;
    font-size: 13px;
    padding: 3px;
    color: yellow;
}
.area .text2 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
    color: white;
}
.area span {
    display: block;
}